p{
    color: rgb(116, 5, 23);
    background-color: pink;
   margin-left: 300px;
   margin-right: 300px;
    margin-bottom: 0;
    margin-top: 50px;
    box-shadow: 20px 20px 20px grey;

}
div{
    color: brown;
}
   
    
    

*{
    text-align: center;
}